.bio {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: $space-2;
  padding: $space-5 $space-1;

  @include breakpoint("medium") {
    flex-direction: row;
    margin: 0 auto;
  }
}

.bio__author-photo {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 175px;
  width: 175px;

  @include breakpoint("medium") {
    margin-right: $space-5;
  }
}

.bio__text {
  max-width: $reading-width;

  h1 {
    text-align: center;
    font-size: $font-size-body;
    margin: $space-5 0 $space-3;

    @include breakpoint("medium") {
      text-align: left;
      margin: auto 0;
      font-size: $font-size-header;
    }
  }
}
