$__social-icon-size: 2rem;

footer {
  align-items: center;
  background-color: $onyx;
  color: $smoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 $space-4;

  @include breakpoint("medium") {
    flex-direction: row;
  }
}

.footer__social-links-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;

  @include breakpoint("medium") {
    margin-top: initial;
  }
}

.footer__social-links-list-item {
  display: inline-block;
  height: $__social-icon-size;
  margin: $space-1 $space-2;
  width: $__social-icon-size;
}

.footer__social-link {
  opacity: 0.7;

  &:hover {
    opacity: 1;
    transition: opacity $base-duration;
  }
}
