.site-header {
  background-color: $white;
  border-bottom: $dividing-border;
  padding: $space-4 $space-4 0 $space-4;
  text-align: center;

  @include breakpoint("medium") {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $space-2 $space-4;
  }
}

.site-header__title {
  color: $smoke;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.site-header__navigation-link-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
}

.site-header__navigation-link {
  display: block;
  margin: 0 $space-1;

  @include breakpoint("medium") {
    margin-left: $space-3;
  }
}
