.site-header {
  background-color: darken($aged-paper, 5%);
  padding: $space-4 $space-4 0 $space-4;
  text-align: center;

  @include breakpoint("medium") {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $space-2 $space-4;
  }
}

.site-header__title {
  color: $forest-green;
}
