<footer>

  <p class="footer__text">
    Designed and built by
    <%= link_to(
      "Vendela Larsson",
      "https://www.vendelalarsson.com",
      class: "footer__link"
    ) %>
    , Copyright © 2020
  </p>
</footer>
