body, p {
  color: $forest-green;
  font-family: $font-family-body;
  font-size: $font-size-body;
  line-height: $line-height-body;
}

h1, h2, h3 {
  font-family: $font-family-header;
  font-size: $font-size-header;
}

a {
  color: $hunting-orange;
  font-family: $font-family-body;
  text-decoration: none;

  &:hover {
    color: darken($hunting-orange, 20%);
    transition: color $base-duration;
  }
}
