// Colors
$white: #FFFFFF;
$hunting-orange: #FF741C;
$forest-green: #186A44;
$aged-paper: #F2EEE2;
$neon-green: #22E38A;
$fern: #7EBCA0;

// Spacing
$space-1: 0.5em;
$space-2: 1em;
$space-3: 1.5em;
$space-4: 2em;
$space-5: 3em;
$space-6: 5em;

// Breakpoints
$breakpoints: (
  x-small: 15em,
  small: 40em,
  medium: 55em,
  large: 88em
);

// Animations
$base-duration: 500ms;

// Borders
$border-radius-base: 4px;

// Typography
$letter-spacing-wide: 0.1rem;
$line-height-body: 1.5rem;
$font-family-header: serif;
$font-family-button: 'CircularStd', sans-serif;
$font-family-body: 'CircularStd', serif;
$font-size-body: 1rem;
$font-size-header: 1.5rem;
