// Colors
$white: #FFFFFF;
$transparent-white: rgba(255, 255, 255, 0.7);
$quartz: #EEEEEE;
$smoke: #9A9A9A;
$basalt: rgba(0, 0, 0, 0.8);
$onyx: rgb(0, 0, 0);
$sky: rgb(84, 137, 184);
$rainy-sky: #708291;
$blue-cotton: rgba(157, 176, 184, 0.2);

// Spacing
$space-1: 0.5em;
$space-2: 1em;
$space-3: 1.5em;
$space-4: 2em;
$space-5: 3em;
$space-6: 5em;

// Breakpoints
$breakpoints: (
  x-small: 15em,
  small: 40em,
  medium: 55em,
  large: 88em
);

// Animations
$base-duration: 500ms;

// Borders
$dividing-border: 1px solid $quartz;
$button-border: 2px solid $onyx;

// Widths
$reading-width: 70ch;

// Typography
$letter-spacing-wide: 0.2rem;
$line-height-body: 1.5rem;
$font-family-header: 'TradeGothic', sans-serif;
$font-family-button: 'TradeGothic', sans-serif;
$font-family-body: 'Libre Baskerville', serif;
$font-size-body: 1rem;
$font-size-header: 1.5rem;
