// Colors
$clean-smoke: #EFEFEF;

// Spacing
$space-1: 0.5em;
$space-2: 1em;
$space-3: 1.5em;
$space-4: 2em;
$space-5: 3em;

// Breakpoints
$breakpoints: (
  x-small: 15em,
  small: 40em,
  medium: 55em,
  large: 88em
);
