---
title: The Freezer
---


<section class="inventory">

  <ul>
    <% data.pages.home.inventory.each do | inventory_item | %>
      <li class="site-header__navigation-link">
        <%= inventory_item.label %>
        <%= inventory_item.source %>
        <%= inventory_item.amount %>
        <img src="<%=inventory_item.image %>" />
      </li>
    <% end %>
  </ul>

</section>
