---
title: Thank you
---

<section class="form-success">
  <img
    class="form-success__icon"
    src="<%= data.settings.site.thank_you_icon %>" />
  <h1 class="form-success__title">
    Thank you for reaching&nbsp;out
  </h1>
  <p>
    I look forward to connecting.
  </p>
</section>
